<p>
    Angular is a platform and framework for building client applications in HTML and TypeScript. Angular is written in TypeScript. <br>
    It implements core and optional functionality as a set of TypeScript libraries that you import into your apps.<br>
    The basic building blocks of an Angular application are NgModules, which provide a compilation context for components.<br>
   NgModules collect related code into functional sets; an Angular app is defined by a set of NgModules.<br> 
   An app always has at least a root module that enables bootstrapping, and typically has many more feature modules.
</p>
