<!--The content below is only a placeholder and can be replaced.-->
<body>
  <div class="navbar">
     <a routerLink="application">  APPLICATION  </a>
   <a routerLink="students"> STUDENTS </a> 
   <a routerLink="faculty"> FACULTY</a> 
   <a routerLink="administrator"> ADMINISTRATOR</a>
  </div>
  <div class="router1">
     <div style="text-align:center" class="title">
         <h1>
           TELANGANA STATE COUNCEL OF EDUCATION(EAMCET)
         </h1>
        </div>
  <router-outlet></router-outlet>
  </div>
 
 </body>
 